<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace = "fragments::header">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul th:replace = "fragments :: sidebar">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace = "fragments :: topbar">
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div>
                            <div class="section-body mt-3">
                                <div class="container-fluid">
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="mb-4">
                                                <h4>Trang chủ!</h4>
                                                <small>Đo lường tốc độ tăng doanh thu định kỳ hàng tháng của bạn</small>
                                            </div>
                                        </div>

                                        <div class="col-xl-2 col-lg-4 col-md-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Hóa đơn mới</h3>
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="number mb-0 font-32 counter" th:text="${orders_new}"></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-4 col-md-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Doanh thu</h3>
                                                </div>
                                                <div class="card-body">


                                                    <h5 class="number mb-0 font-32"   th:text="${sum}"></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-4 col-md-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Hóa đơn đã hủy</h3>
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="number mb-0 font-32 counter" th:text="${orders_reject}"></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-4 col-md-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Số lượng khách hàng</h3>
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="number mb-0 font-32 counter" th:text="${cus}"></h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix row-deck">
                                            <div class="col-xl-12 col-lg-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div id="container_body" style="width: 1454px; height: 350px;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace = "fragments :: footer">
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace = "fragments :: scroll">
    </a>

    <!--&lt;!&ndash; Logout Modal&ndash;&gt;
    <div th:replace = "fragments :: logoutModal"></div>-->

    <div th:replace = "fragments::script"></div>
    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
    <div >
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/

            let str=/*[[${Arr1}]]*/ [];
            let str2=/*[[${Arr2}]]*/ [];

            // var jsonString = "[\"17-05\",\"18-05\",\"19-05\",\"20-05\",\"21-05\",\"22-05\",\"23-05\",\"24-05\",\"25-05\",\"26-05\",\"27-05\",\"28-05\",\"29-05\",\"30-05\",\"31-05\",\"1-06\",\"2-06\",\"3-06\",\"4-06\",\"5-06\",\"6-06\",\"7-06\",\"8-06\",\"9-06\",\"10-06\",\"11-06\",\"12-06\",\"13-06\",\"14-06\",\"15-06\",\"16-06\"]";
            var array = JSON.parse(str);
            var array2 = JSON.parse(str2);

            console.log(Array.isArray(array)); // Kiểm tra xem array có phải là một mảng không
            console.log(array);
            Highcharts.chart('container_body', {
                title: {
                    text: 'Doanh thu 30 ngày gần nhất'
                },
                yAxis: {
                    title: {
                        text: 'Tiền'
                    }
                },

                xAxis: {
                    categories: array
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },

                    }
                },

                series: [{
                    name: 'Doanh thu',
                    data: array2
                    // data:  [0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });


            /*]]>*/
        </script>
    </div>
</body>

</html>