<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">


</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments::slider">
</div>
<!-- End All Title Box -->

<!-- Update Personal Information -->
<section>
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="order-date">Ngày đặt hàng</th>
                                <th>Ngày giao hàng</th>
                                <th class="price-pr">Tình trạng đặt hàng</th>
                                <th class="quantity-box">Tổng giá</th>
                                <th class="total-pr">Phương thức thanh toán</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="orders : ${orders}">
                                <td class="order-date">
                                    <span><b th:text="${orders.orderDate}"></b></span>
                                </td>
                                <td class="name-pr" th:if="${orders.deliveryDate != null}">
                                    <a href="#" th:text="${orders.deliveryDate}">
                                    </a>
                                </td>
                                <td class="name-pr" th:if="${orders.deliveryDate == null}">
                                    <p>chờ xíu</p>
                                </td>
                                <td class="price-pr">
                                    <p th:text="${orders.orderStatus}"></p>
                                </td>
                                <td class="total-pr">
                                    <p style="color: red" th:text="${'vnd' + orders.totalPrice}">$ 80.0</p>
                                </td>
                                <td class="total-pr" style="color: black">
                                    <span></span>Tiền mặt</span>
                                </td>
                                <td>
                                    <button class="button-cancel">Cancel</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments::footer"></footer>

<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>